<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- mapper 태그의 namespace 속성 필수 작성  -->  
<mapper namespace="shop">
	<!-- 제품목록 조회(품목구분정보 이용) -->
	<select id="list" resultType="com.bc.mybatis.ShopVO">
		SELECT NUM, CATEGORY, P_NUM, P_NAME, P_COMPANY,
		       P_PRICE, P_SALEPRICE, P_IMAGE_S, P_IMAGE_L,
		       P_CONTENT, P_DATE
		FROM SHOP_T
		WHERE CATEGORY = #{category}
	</select>
	
	<!-- 제품번호를 받아서 제품정보를 조회 -->
	<select id="one" resultType="com.bc.mybatis.ShopVO"
			parameterType="String">
		SELECT *
		FROM SHOP_T
		WHERE P_NUM = #{p_num}
	</select>
</mapper>  













