<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- mapper 태그의 namespace 속성 필수 작성  -->  
<mapper namespace="BBS">
	<!-- 전체건수 조회 -->
	<select id="totalCount" resultType="int">
		SELECT COUNT(B_IDX) FROM BBS_T
	</select>
	
	<!-- 페이지에 표시할 게시글 조회 
		parameterType="Map" : begin, end 값 전달을 위해
		key-value 형태의 Map 사용-->
	<select id="list" resultType="com.bc.mybatis.BBSVO"
			parameterType="Map">
		SELECT R_NUM, B_IDX, SUBJECT, WRITER, CONTENT, 
			   FILE_NAME, ORI_NAME, PWD, WRITE_DATE, IP,
			   HIT
		  FROM (SELECT ROWNUM R_NUM, B.*
		          FROM (SELECT *
		                  FROM BBS_T 
		                 ORDER BY B_IDX DESC
		               ) B 
		        )
		 WHERE R_NUM BETWEEN #{begin} AND #{end}
	</select>
	
	<!-- 게시글 하나 조회 -->
	<select id="one" resultType="com.bc.mybatis.BBSVO"
		parameterType="String">
		SELECT * FROM BBS_T WHERE B_IDX = #{b_idx}
	</select>
	
	<!-- 게시글에 연결된 댓글 조회 -->
	<select id="commList" resultType="com.bc.mybatis.CommVO"
		parameterType="String">
		SELECT * 
		  FROM COMMENT_T 
		 WHERE B_IDX = #{b_idx}
		 ORDER BY C_IDX DESC
	</select>
	
	
	<!-- 게시글(BBS_T) 등록 -->
	<insert id="insert" parameterType="com.bc.mybatis.BBSVO">
		INSERT INTO BBS_T
			   (B_IDX, SUBJECT, WRITER, CONTENT, FILE_NAME,  
			   ORI_NAME, PWD, WRITE_DATE, IP, HIT)
		VALUES (BBS_T_SEQ.NEXTVAL, #{subject}, #{writer}, #{content}, #{file_name},  
			   #{ori_name}, #{pwd}, SYSDATE, #{ip}, 0)	   
	</insert>
	<update id="update" parameterType="com.bc.mybatis.BBSVO">
		UPDATE BBS_T
		   SET SUBJECT = #{subject},
		   	   WRITER = #{writer},
		   	   CONTENT = #{content},
		   	   FILE_NAME = #{file_name},
		   	   ORI_NAME = #{ori_name},
		   	   WRITE_DATE = SYSDATE
		 WHERE B_IDX = #{b_idx}
	</update>
	
	<!-- 게시글 삭제처리 -->
	<delete id="delete" parameterType="String">
		DELETE FROM BBS_T WHERE B_IDX = #{b_idx}
	</delete>
	
	<!-- ======================================= -->
	<!-- 조회수 수정(1증가) -->
	<update id="hitVO" parameterType="com.bc.mybatis.BBSVO">
		UPDATE BBS_T SET HIT = #{hit} + 1 WHERE B_IDX = #{b_idx}
	</update>
	
	<update id="hit" parameterType="int">
		UPDATE BBS_T SET HIT = HIT + 1 WHERE B_IDX = #{b_idx}
	</update>
	
	<!-- =================================== -->
	<!-- 댓글 입력(COMMENT_T) -->
	<insert id="c_insert" parameterType="com.bc.mybatis.CommVO">
		INSERT INTO COMMENT_T
		       (C_IDX, WRITER, CONTENT, PWD, WRITE_DATE,
		       IP, B_IDX)
		VALUES (COMMENT_T_SEQ.NEXTVAL, #{writer}, #{content}, #{pwd}, SYSDATE,
		       #{ip}, #{b_idx})
	</insert>
	
	<!-- 댓글 삭제 -->
	<delete id="c_delete" parameterType="String">
		DELETE FROM COMMENT_T WHERE C_IDX = #{c_idx}
	</delete>
</mapper>  













